openapi: 3.1.0
info:
  title: Coolify Applications API
  version: '0.1'
  description: Applications
servers:
- url: https://app.coolify.io/api/v1
  description: Coolify Cloud API. Change the host to your own instance if you are self-hosting.
tags:
- name: Applications
  description: Applications
paths:
  /applications:
    get:
      tags:
      - Applications
      summary: List
      description: List all applications.
      operationId: list-applications
      parameters:
      - name: tag
        in: query
        description: Filter applications by tag name.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Get all applications.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
      security:
      - bearerAuth: []
  /applications/public:
    post:
      tags:
      - Applications
      summary: Create (Public)
      description: Create new application based on a public git repository.
      operationId: create-public-application
      requestBody:
        description: Application object that needs to be created.
        required: true
        content:
          application/json:
            schema:
              required:
              - project_uuid
              - server_uuid
              - environment_name
              - environment_uuid
              - git_repository
              - git_branch
              - build_pack
              - ports_exposes
              properties:
                project_uuid:
                  type: string
                  description: The project UUID.
                server_uuid:
                  type: string
                  description: The server UUID.
                environment_name:
                  type: string
                  description: The environment name. You need to provide at least one of environment_name or environment_uuid.
                environment_uuid:
                  type: string
                  description: The environment UUID. You need to provide at least one of environment_name or environment_uuid.
                git_repository:
                  type: string
                  description: The git repository URL.
                git_branch:
                  type: string
                  description: The git branch.
                build_pack:
                  type: string
                  enum:
                  - nixpacks
                  - railpack
                  - static
                  - dockerfile
                  - dockercompose
                  description: The build pack type.
                ports_exposes:
                  type: string
                  description: The ports to expose.
                destination_uuid:
                  type: string
                  description: The destination UUID.
                name:
                  type: string
                  description: The application name.
                description:
                  type: string
                  description: The application description.
                domains:
                  type: string
                  description: The application URLs in a comma-separated list.
                git_commit_sha:
                  type: string
                  description: The git commit SHA.
                docker_registry_image_name:
                  type: string
                  description: The docker registry image name.
                docker_registry_image_tag:
                  type: string
                  description: The docker registry image tag.
                is_static:
                  type: boolean
                  description: The flag to indicate if the application is static.
                is_spa:
                  type: boolean
                  description: The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true.
                is_auto_deploy_enabled:
                  type: boolean
                  description: The flag to indicate if auto-deploy is enabled on git push. Defaults to true.
                is_force_https_enabled:
                  type: boolean
                  description: The flag to indicate if HTTPS is forced. Defaults to true.
                static_image:
                  type: string
                  enum:
                  - nginx:alpine
                  description: The static image.
                install_command:
                  type: string
                  description: The install command.
                build_command:
                  type: string
                  description: The build command.
                start_command:
                  type: string
                  description: The start command.
                ports_mappings:
                  type: string
                  description: The ports mappings.
                base_directory:
                  type: string
                  description: The base directory for all commands.
                publish_directory:
                  type: string
                  description: The publish directory.
                health_check_enabled:
                  type: boolean
                  description: Health check enabled.
                health_check_path:
                  type: string
                  description: Health check path.
                health_check_port:
                  type: string
                  nullable: true
                  description: Health check port.
                health_check_host:
                  type: string
                  nullable: true
                  description: Health check host.
                health_check_method:
                  type: string
                  description: Health check method.
                health_check_return_code:
                  type: integer
                  description: Health check return code.
                health_check_scheme:
                  type: string
                  description: Health check scheme.
                health_check_response_text:
                  type: string
                  nullable: true
                  description: Health check response text.
                health_check_interval:
                  type: integer
                  description: Health check interval in seconds.
                health_check_timeout:
                  type: integer
                  description: Health check timeout in seconds.
                health_check_retries:
                  type: integer
                  description: Health check retries count.
                health_check_start_period:
                  type: integer
                  description: Health check start period in seconds.
                limits_memory:
                  type: string
                  description: Memory limit.
                limits_memory_swap:
                  type: string
                  description: Memory swap limit.
                limits_memory_swappiness:
                  type: integer
                  description: Memory swappiness.
                limits_memory_reservation:
                  type: string
                  description: Memory reservation.
                limits_cpus:
                  type: string
                  description: CPU limit.
                limits_cpuset:
                  type: string
                  nullable: true
                  description: CPU set.
                limits_cpu_shares:
                  type: integer
                  description: CPU shares.
                custom_labels:
                  type: string
                  description: Custom labels.
                custom_docker_run_options:
                  type: string
                  description: Custom docker run options.
                post_deployment_command:
                  type: string
                  description: Post deployment command.
                post_deployment_command_container:
                  type: string
                  description: Post deployment command container.
                pre_deployment_command:
                  type: string
                  description: Pre deployment command.
                pre_deployment_command_container:
                  type: string
                  description: Pre deployment command container.
                manual_webhook_secret_github:
                  type: string
                  description: Manual webhook secret for Github.
                manual_webhook_secret_gitlab:
                  type: string
                  description: Manual webhook secret for Gitlab.
                manual_webhook_secret_bitbucket:
                  type: string
                  description: Manual webhook secret for Bitbucket.
                manual_webhook_secret_gitea:
                  type: string
                  description: Manual webhook secret for Gitea.
                redirect:
                  type: string
                  nullable: true
                  description: How to set redirect with Traefik / Caddy. www<->non-www.
                  enum:
                  - www
                  - non-www
                  - both
                instant_deploy:
                  type: boolean
                  description: The flag to indicate if the application should be deployed instantly.
                dockerfile:
                  type: string
                  description: The Dockerfile content.
                dockerfile_location:
                  type: string
                  description: The Dockerfile location in the repository.
                docker_compose_location:
                  type: string
                  description: The Docker Compose location.
                docker_compose_custom_start_command:
                  type: string
                  description: The Docker Compose custom start command.
                docker_compose_custom_build_command:
                  type: string
                  description: The Docker Compose custom build command.
                docker_compose_domains:
                  type: array
                  description: Array of URLs to be applied to containers of a dockercompose application.
                  items:
                    properties:
                      name:
                        type: string
                        description: The service name as defined in docker-compose.
                      domain:
                        type: string
                        description: Comma-separated list of URLs (e.g. "https://app.coolify.io,https://app2.coolify.io")
                    type: object
                watch_paths:
                  type: string
                  description: The watch paths.
                use_build_server:
                  type: boolean
                  nullable: true
                  description: Use build server.
                is_http_basic_auth_enabled:
                  type: boolean
                  description: HTTP Basic Authentication enabled.
                http_basic_auth_username:
                  type: string
                  nullable: true
                  description: Username for HTTP Basic Authentication
                http_basic_auth_password:
                  type: string
                  nullable: true
                  description: Password for HTTP Basic Authentication
                connect_to_docker_network:
                  type: boolean
                  description: The flag to connect the service to the predefined Docker network.
                force_domain_override:
                  type: boolean
                  description: Force domain usage even if conflicts are detected. Default is false.
                autogenerate_domain:
                  type: boolean
                  default: true
                  description: 'If true and domains is empty, auto-generate a domain using the server''s wildcard domain or sslip.io fallback. Default: true.'
                is_container_label_escape_enabled:
                  type: boolean
                  default: true
                  description: Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.
                is_preserve_repository_enabled:
                  type: boolean
                  default: false
                  description: Preserve repository during deployment.
              type: object
      responses:
        '201':
          description: Application created successfully.
          content:
            application/json:
              schema:
                properties:
                  uuid:
                    type: string
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '409':
          description: Domain conflicts detected.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Domain conflicts detected. Use force_domain_override=true to proceed.
                  warning:
                    type: string
                    example: Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.
                  conflicts:
                    type: array
                    items:
                      properties:
                        domain:
                          type: string
                          example: example.com
                        resource_name:
                          type: string
                          example: My Application
                        resource_uuid:
                          type: string
                          nullable: true
                          example: abc123-def456
                        resource_type:
                          type: string
                          enum:
                          - application
                          - service
                          - instance
                          example: application
                        message:
                          type: string
                          example: Domain example.com is already in use by application 'My Application'
                      type: object
                type: object
      security:
      - bearerAuth: []
  /applications/private-github-app:
    post:
      tags:
      - Applications
      summary: Create (Private - GH App)
      description: Create new application based on a private repository through a Github App.
      operationId: create-private-github-app-application
      requestBody:
        description: Application object that needs to be created.
        required: true
        content:
          application/json:
            schema:
              required:
              - project_uuid
              - server_uuid
              - environment_name
              - environment_uuid
              - github_app_uuid
              - git_repository
              - git_branch
              - build_pack
              - ports_exposes
              properties:
                project_uuid:
                  type: string
                  description: The project UUID.
                server_uuid:
                  type: string
                  description: The server UUID.
                environment_name:
                  type: string
                  description: The environment name. You need to provide at least one of environment_name or environment_uuid.
                environment_uuid:
                  type: string
                  description: The environment UUID. You need to provide at least one of environment_name or environment_uuid.
                github_app_uuid:
                  type: string
                  description: The Github App UUID.
                git_repository:
                  type: string
                  description: The git repository URL.
                git_branch:
                  type: string
                  description: The git branch.
                ports_exposes:
                  type: string
                  description: The ports to expose.
                destination_uuid:
                  type: string
                  description: The destination UUID.
                build_pack:
                  type: string
                  enum:
                  - nixpacks
                  - railpack
                  - static
                  - dockerfile
                  - dockercompose
                  description: The build pack type.
                name:
                  type: string
                  description: The application name.
                description:
                  type: string
                  description: The application description.
                domains:
                  type: string
                  description: The application URLs in a comma-separated list.
                git_commit_sha:
                  type: string
                  description: The git commit SHA.
                docker_registry_image_name:
                  type: string
                  description: The docker registry image name.
                docker_registry_image_tag:
                  type: string
                  description: The docker registry image tag.
                is_static:
                  type: boolean
                  description: The flag to indicate if the application is static.
                is_spa:
                  type: boolean
                  description: The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true.
                is_auto_deploy_enabled:
                  type: boolean
                  description: The flag to indicate if auto-deploy is enabled on git push. Defaults to true.
                is_force_https_enabled:
                  type: boolean
                  description: The flag to indicate if HTTPS is forced. Defaults to true.
                static_image:
                  type: string
                  enum:
                  - nginx:alpine
                  description: The static image.
                install_command:
                  type: string
                  description: The install command.
                build_command:
                  type: string
                  description: The build command.
                start_command:
                  type: string
                  description: The start command.
                ports_mappings:
                  type: string
                  description: The ports mappings.
                base_directory:
                  type: string
                  description: The base directory for all commands.
                publish_directory:
                  type: string
                  description: The publish directory.
                health_check_enabled:
                  type: boolean
                  description: Health check enabled.
                health_check_path:
                  type: string
                  description: Health check path.
                health_check_port:
                  type: string
                  nullable: true
                  description: Health check port.
                health_check_host:
                  type: string
                  nullable: true
                  description: Health check host.
                health_check_method:
                  type: string
                  description: Health check method.
                health_check_return_code:
                  type: integer
                  description: Health check return code.
                health_check_scheme:
                  type: string
                  description: Health check scheme.
                health_check_response_text:
                  type: string
                  nullable: true
                  description: Health check response text.
                health_check_interval:
                  type: integer
                  description: Health check interval in seconds.
                health_check_timeout:
                  type: integer
                  description: Health check timeout in seconds.
                health_check_retries:
                  type: integer
                  description: Health check retries count.
                health_check_start_period:
                  type: integer
                  description: Health check start period in seconds.
                limits_memory:
                  type: string
                  description: Memory limit.
                limits_memory_swap:
                  type: string
                  description: Memory swap limit.
                limits_memory_swappiness:
                  type: integer
                  description: Memory swappiness.
                limits_memory_reservation:
                  type: string
                  description: Memory reservation.
                limits_cpus:
                  type: string
                  description: CPU limit.
                limits_cpuset:
                  type: string
                  nullable: true
                  description: CPU set.
                limits_cpu_shares:
                  type: integer
                  description: CPU shares.
                custom_labels:
                  type: string
                  description: Custom labels.
                custom_docker_run_options:
                  type: string
                  description: Custom docker run options.
                post_deployment_command:
                  type: string
                  description: Post deployment command.
                post_deployment_command_container:
                  type: string
                  description: Post deployment command container.
                pre_deployment_command:
                  type: string
                  description: Pre deployment command.
                pre_deployment_command_container:
                  type: string
                  description: Pre deployment command container.
                manual_webhook_secret_github:
                  type: string
                  description: Manual webhook secret for Github.
                manual_webhook_secret_gitlab:
                  type: string
                  description: Manual webhook secret for Gitlab.
                manual_webhook_secret_bitbucket:
                  type: string
                  description: Manual webhook secret for Bitbucket.
                manual_webhook_secret_gitea:
                  type: string
                  description: Manual webhook secret for Gitea.
                redirect:
                  type: string
                  nullable: true
                  description: How to set redirect with Traefik / Caddy. www<->non-www.
                  enum:
                  - www
                  - non-www
                  - both
                instant_deploy:
                  type: boolean
                  description: The flag to indicate if the application should be deployed instantly.
                dockerfile:
                  type: string
                  description: The Dockerfile content.
                dockerfile_location:
                  type: string
                  description: The Dockerfile location in the repository
                docker_compose_location:
                  type: string
                  description: The Docker Compose location.
                docker_compose_custom_start_command:
                  type: string
                  description: The Docker Compose custom start command.
                docker_compose_custom_build_command:
                  type: string
                  description: The Docker Compose custom build command.
                docker_compose_domains:
                  type: array
                  description: Array of URLs to be applied to containers of a dockercompose application.
                  items:
                    properties:
                      name:
                        type: string
                        description: The service name as defined in docker-compose.
                      domain:
                        type: string
                        description: Comma-separated list of URLs (e.g. "https://app.coolify.io,https://app2.coolify.io")
                    type: object
                watch_paths:
                  type: string
                  description: The watch paths.
                use_build_server:
                  type: boolean
                  nullable: true
                  description: Use build server.
                is_http_basic_auth_enabled:
                  type: boolean
                  description: HTTP Basic Authentication enabled.
                http_basic_auth_username:
                  type: string
                  nullable: true
                  description: Username for HTTP Basic Authentication
                http_basic_auth_password:
                  type: string
                  nullable: true
                  description: Password for HTTP Basic Authentication
                connect_to_docker_network:
                  type: boolean
                  description: The flag to connect the service to the predefined Docker network.
                force_domain_override:
                  type: boolean
                  description: Force domain usage even if conflicts are detected. Default is false.
                autogenerate_domain:
                  type: boolean
                  default: true
                  description: 'If true and domains is empty, auto-generate a domain using the server''s wildcard domain or sslip.io fallback. Default: true.'
                is_container_label_escape_enabled:
                  type: boolean
                  default: true
                  description: Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.
                is_preserve_repository_enabled:
                  type: boolean
                  default: false
                  description: Preserve repository during deployment.
              type: object
      responses:
        '201':
          description: Application created successfully.
          content:
            application/json:
              schema:
                properties:
                  uuid:
                    type: string
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '409':
          description: Domain conflicts detected.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Domain conflicts detected. Use force_domain_override=true to proceed.
                  warning:
                    type: string
                    example: Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.
                  conflicts:
                    type: array
                    items:
                      properties:
                        domain:
                          type: string
                          example: example.com
                        resource_name:
                          type: string
                          example: My Application
                        resource_uuid:
                          type: string
                          nullable: true
                          example: abc123-def456
                        resource_type:
                          type: string
                          enum:
                          - application
                          - service
                          - instance
                          example: application
                        message:
                          type: string
                          example: Domain example.com is already in use by application 'My Application'
                      type: object
                type: object
      security:
      - bearerAuth: []
  /applications/private-deploy-key:
    post:
      tags:
      - Applications
      summary: Create (Private - Deploy Key)
      description: Create new application based on a private repository through a Deploy Key.
      operationId: create-private-deploy-key-application
      requestBody:
        description: Application object that needs to be created.
        required: true
        content:
          application/json:
            schema:
              required:
              - project_uuid
              - server_uuid
              - environment_name
              - environment_uuid
              - private_key_uuid
              - git_repository
              - git_branch
              - build_pack
              - ports_exposes
              properties:
                project_uuid:
                  type: string
                  description: The project UUID.
                server_uuid:
                  type: string
                  description: The server UUID.
                environment_name:
                  type: string
                  description: The environment name. You need to provide at least one of environment_name or environment_uuid.
                environment_uuid:
                  type: string
                  description: The environment UUID. You need to provide at least one of environment_name or environment_uuid.
                private_key_uuid:
                  type: string
                  description: The private key UUID.
                git_repository:
                  type: string
                  description: The git repository URL.
                git_branch:
                  type: string
                  description: The git branch.
                ports_exposes:
                  type: string
                  description: The ports to expose.
                destination_uuid:
                  type: string
                  description: The destination UUID.
                build_pack:
                  type: string
                  enum:
                  - nixpacks
                  - railpack
                  - static
                  - dockerfile
                  - dockercompose
                  description: The build pack type.
                name:
                  type: string
                  description: The application name.
                description:
                  type: string
                  description: The application description.
                domains:
                  type: string
                  description: The application URLs in a comma-separated list.
                git_commit_sha:
                  type: string
                  description: The git commit SHA.
                docker_registry_image_name:
                  type: string
                  description: The docker registry image name.
                docker_registry_image_tag:
                  type: string
                  description: The docker registry image tag.
                is_static:
                  type: boolean
                  description: The flag to indicate if the application is static.
                is_spa:
                  type: boolean
                  description: The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true.
                is_auto_deploy_enabled:
                  type: boolean
                  description: The flag to indicate if auto-deploy is enabled on git push. Defaults to true.
                is_force_https_enabled:
                  type: boolean
                  description: The flag to indicate if HTTPS is forced. Defaults to true.
                static_image:
                  type: string
                  enum:
                  - nginx:alpine
                  description: The static image.
                install_command:
                  type: string
                  description: The install command.
                build_command:
                  type: string
                  description: The build command.
                start_command:
                  type: string
                  description: The start command.
                ports_mappings:
                  type: string
                  description: The ports mappings.
                base_directory:
                  type: string
                  description: The base directory for all commands.
                publish_directory:
                  type: string
                  description: The publish directory.
                health_check_enabled:
                  type: boolean
                  description: Health check enabled.
                health_check_path:
                  type: string
                  description: Health check path.
                health_check_port:
                  type: string
                  nullable: true
                  description: Health check port.
                health_check_host:
                  type: string
                  nullable: true
                  description: Health check host.
                health_check_method:
                  type: string
                  description: Health check method.
                health_check_return_code:
                  type: integer
                  description: Health check return code.
                health_check_scheme:
                  type: string
                  description: Health check scheme.
                health_check_response_text:
                  type: string
                  nullable: true
                  description: Health check response text.
                health_check_interval:
                  type: integer
                  description: Health check interval in seconds.
                health_check_timeout:
                  type: integer
                  description: Health check timeout in seconds.
                health_check_retries:
                  type: integer
                  description: Health check retries count.
                health_check_start_period:
                  type: integer
                  description: Health check start period in seconds.
                limits_memory:
                  type: string
                  description: Memory limit.
                limits_memory_swap:
                  type: string
                  description: Memory swap limit.
                limits_memory_swappiness:
                  type: integer
                  description: Memory swappiness.
                limits_memory_reservation:
                  type: string
                  description: Memory reservation.
                limits_cpus:
                  type: string
                  description: CPU limit.
                limits_cpuset:
                  type: string
                  nullable: true
                  description: CPU set.
                limits_cpu_shares:
                  type: integer
                  description: CPU shares.
                custom_labels:
                  type: string
                  description: Custom labels.
                custom_docker_run_options:
                  type: string
                  description: Custom docker run options.
                post_deployment_command:
                  type: string
                  description: Post deployment command.
                post_deployment_command_container:
                  type: string
                  description: Post deployment command container.
                pre_deployment_command:
                  type: string
                  description: Pre deployment command.
                pre_deployment_command_container:
                  type: string
                  description: Pre deployment command container.
                manual_webhook_secret_github:
                  type: string
                  description: Manual webhook secret for Github.
                manual_webhook_secret_gitlab:
                  type: string
                  description: Manual webhook secret for Gitlab.
                manual_webhook_secret_bitbucket:
                  type: string
                  description: Manual webhook secret for Bitbucket.
                manual_webhook_secret_gitea:
                  type: string
                  description: Manual webhook secret for Gitea.
                redirect:
                  type: string
                  nullable: true
                  description: How to set redirect with Traefik / Caddy. www<->non-www.
                  enum:
                  - www
                  - non-www
                  - both
                instant_deploy:
                  type: boolean
                  description: The flag to indicate if the application should be deployed instantly.
                dockerfile:
                  type: string
                  description: The Dockerfile content.
                dockerfile_location:
                  type: string
                  description: The Dockerfile location in the repository.
                docker_compose_location:
                  type: string
                  description: The Docker Compose location.
                docker_compose_custom_start_command:
                  type: string
                  description: The Docker Compose custom start command.
                docker_compose_custom_build_command:
                  type: string
                  description: The Docker Compose custom build command.
                docker_compose_domains:
                  type: array
                  description: Array of URLs to be applied to containers of a dockercompose application.
                  items:
                    properties:
                      name:
                        type: string
                        description: The service name as defined in docker-compose.
                      domain:
                        type: string
                        description: Comma-separated list of URLs (e.g. "https://app.coolify.io,https://app2.coolify.io")
                    type: object
                watch_paths:
                  type: string
                  description: The watch paths.
                use_build_server:
                  type: boolean
                  nullable: true
                  description: Use build server.
                is_http_basic_auth_enabled:
                  type: boolean
                  description: HTTP Basic Authentication enabled.
                http_basic_auth_username:
                  type: string
                  nullable: true
                  description: Username for HTTP Basic Authentication
                http_basic_auth_password:
                  type: string
                  nullable: true
                  description: Password for HTTP Basic Authentication
                connect_to_docker_network:
                  type: boolean
                  description: The flag to connect the service to the predefined Docker network.
                force_domain_override:
                  type: boolean
                  description: Force domain usage even if conflicts are detected. Default is false.
                autogenerate_domain:
                  type: boolean
                  default: true
                  description: 'If true and domains is empty, auto-generate a domain using the server''s wildcard domain or sslip.io fallback. Default: true.'
                is_container_label_escape_enabled:
                  type: boolean
                  default: true
                  description: Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.
                is_preserve_repository_enabled:
                  type: boolean
                  default: false
                  description: Preserve repository during deployment.
              type: object
      responses:
        '201':
          description: Application created successfully.
          content:
            application/json:
              schema:
                properties:
                  uuid:
                    type: string
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '409':
          description: Domain conflicts detected.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Domain conflicts detected. Use force_domain_override=true to proceed.
                  warning:
                    type: string
                    example: Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.
                  conflicts:
                    type: array
                    items:
                      properties:
                        domain:
                          type: string
                          example: example.com
                        resource_name:
                          type: string
                          example: My Application
                        resource_uuid:
                          type: string
                          nullable: true
                          example: abc123-def456
                        resource_type:
                          type: string
                          enum:
                          - application
                          - service
                          - instance
                          example: application
                        message:
                          type: string
                          example: Domain example.com is already in use by application 'My Application'
                      type: object
                type: object
      security:
      - bearerAuth: []
  /applications/dockerfile:
    post:
      tags:
      - Applications
      summary: Create (Dockerfile without git)
      description: Create new application based on a simple Dockerfile (without git).
      operationId: create-dockerfile-application
      requestBody:
        description: Application object that needs to be created.
        required: true
        content:
          application/json:
            schema:
              required:
              - project_uuid
              - server_uuid
              - environment_name
              - environment_uuid
              - dockerfile
              properties:
                project_uuid:
                  type: string
                  description: The project UUID.
                server_uuid:
                  type: string
                  description: The server UUID.
                environment_name:
                  type: string
                  description: The environment name. You need to provide at least one of environment_name or environment_uuid.
                environment_uuid:
                  type: string
                  description: The environment UUID. You need to provide at least one of environment_name or environment_uuid.
                dockerfile:
                  type: string
                  description: The Dockerfile content.
                build_pack:
                  type: string
                  enum:
                  - dockerfile
                  description: The build pack type.
                ports_exposes:
                  type: string
                  description: The ports to expose.
                destination_uuid:
                  type: string
                  description: The destination UUID.
                name:
                  type: string
                  description: The application name.
                description:
                  type: string
                  description: The application description.
                domains:
                  type: string
                  description: The application URLs in a comma-separated list.
                docker_registry_image_name:
                  type: string
                  description: The docker registry image name.
                docker_registry_image_tag:
                  type: string
                  description: The docker registry image tag.
                ports_mappings:
                  type: string
                  description: The ports mappings.
                base_directory:
                  type: string
                  description: The base directory for all commands.
                health_check_enabled:
                  type: boolean
                  description: Health check enabled.
                health_check_path:
                  type: string
                  description: Health check path.
                health_check_port:
                  type: string
                  nullable: true
                  description: Health check port.
                health_check_host:
                  type: string
                  nullable: true
                  description: Health check host.
                health_check_method:
                  type: string
                  description: Health check method.
                health_check_return_code:
                  type: integer
                  description: Health check return code.
                health_check_scheme:
                  type: string
                  description: Health check scheme.
                health_check_response_text:
                  type: string
                  nullable: true
                  description: Health check response text.
                health_check_interval:
                  type: integer
                  description: Health check interval in seconds.
                health_check_timeout:
                  type: integer
                  description: Health check timeout in seconds.
                health_check_retries:
                  type: integer
                  description: Health check retries count.
                health_check_start_period:
                  type: integer
                  description: Health check start period in seconds.
                limits_memory:
                  type: string
                  description: Memory limit.
                limits_memory_swap:
                  type: string
                  description: Memory swap limit.
                limits_memory_swappiness:
                  type: integer
                  description: Memory swappiness.
                limits_memory_reservation:
                  type: string
                  description: Memory reservation.
                limits_cpus:
                  type: string
                  description: CPU limit.
                limits_cpuset:
                  type: string
                  nullable: true
                  description: CPU set.
                limits_cpu_shares:
                  type: integer
                  description: CPU shares.
                custom_labels:
                  type: string
                  description: Custom labels.
                custom_docker_run_options:
                  type: string
                  description: Custom docker run options.
                post_deployment_command:
                  type: string
                  description: Post deployment command.
                post_deployment_command_container:
                  type: string
                  description: Post deployment command container.
                pre_deployment_command:
                  type: string
                  description: Pre deployment command.
                pre_deployment_command_container:
                  type: string
                  description: Pre deployment command container.
                manual_webhook_secret_github:
                  type: string
                  description: Manual webhook secret for Github.
                manual_webhook_secret_gitlab:
                  type: string
                  description: Manual webhook secret for Gitlab.
                manual_webhook_secret_bitbucket:
                  type: string
                  description: Manual webhook secret for Bitbucket.
                manual_webhook_secret_gitea:
                  type: string
                  description: Manual webhook secret for Gitea.
                redirect:
                  type: string
                  nullable: true
                  description: How to set redirect with Traefik / Caddy. www<->non-www.
                  enum:
                  - www
                  - non-www
                  - both
                instant_deploy:
                  type: boolean
                  description: The flag to indicate if the application should be deployed instantly.
                is_force_https_enabled:
                  type: boolean
                  description: The flag to indicate if HTTPS is forced. Defaults to true.
                use_build_server:
                  type: boolean
                  nullable: true
                  description: Use build server.
                is_http_basic_auth_enabled:
                  type: boolean
                  description: HTTP Basic Authentication enabled.
                http_basic_auth_username:
                  type: string
                  nullable: true
                  description: Username for HTTP Basic Authentication
                http_basic_auth_password:
                  type: string
                  nullable: true
                  description: Password for HTTP Basic Authentication
                connect_to_docker_network:
                  type: boolean
                  description: The flag to connect the service to the predefined Docker network.
                force_domain_override:
                  type: boolean
                  description: Force domain usage even if conflicts are detected. Default is false.
                autogenerate_domain:
                  type: boolean
                  default: true
                  description: 'If true and domains is empty, auto-generate a domain using the server''s wildcard domain or sslip.io fallback. Default: true.'
                is_container_label_escape_enabled:
                  type: boolean
                  default: true
                  description: Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.
              type: object
      responses:
        '201':
          description: Application created successfully.
          content:
            application/json:
              schema:
                properties:
                  uuid:
                    type: string
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '409':
          description: Domain conflicts detected.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Domain conflicts detected. Use force_domain_override=true to proceed.
                  warning:
                    type: string
                    example: Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.
                  conflicts:
                    type: array
                    items:
                      properties:
                        domain:
                          type: string
                          example: example.com
                        resource_name:
                          type: string
                          example: My Application
                        resource_uuid:
                          type: string
                          nullable: true
                          example: abc123-def456
                        resource_type:
                          type: string
                          enum:
                          - application
                          - service
                          - instance
                          example: application
                        message:
                          type: string
                          example: Domain example.com is already in use by application 'My Application'
                      type: object
                type: object
      security:
      - bearerAuth: []
  /applications/dockerimage:
    post:
      tags:
      - Applications
      summary: Create (Docker Image without git)
      description: Create new application based on a prebuilt docker image (without git).
      operationId: create-dockerimage-application
      requestBody:
        description: Application object that needs to be created.
        required: true
        content:
          application/json:
            schema:
              required:
              - project_uuid
              - server_uuid
              - environment_name
              - environment_uuid
              - docker_registry_image_name
              - ports_exposes
              properties:
                project_uuid:
                  type: string
                  description: The project UUID.
                server_uuid:
                  type: string
                  description: The server UUID.
                environment_name:
                  type: string
                  description: The environment name. You need to provide at least one of environment_name or environment_uuid.
                environment_uuid:
                  type: string
                  description: The environment UUID. You need to provide at least one of environment_name or environment_uuid.
                docker_registry_image_name:
                  type: string
                  description: The docker registry image name.
                docker_registry_image_tag:
                  type: string
                  description: The docker registry image tag.
                ports_exposes:
                  type: string
                  description: The ports to expose.
                destination_uuid:
                  type: string
                  description: The destination UUID.
                name:
                  type: string
                  description: The application name.
                description:
                  type: string
                  description: The application description.
                domains:
                  type: string
                  description: The application URLs in a comma-separated list.
                ports_mappings:
                  type: string
                  description: The ports mappings.
                health_check_enabled:
                  type: boolean
                  description: Health check enabled.
                health_check_path:
                  type: string
                  description: Health check path.
                health_check_port:
                  type: string
                  nullable: true
                  description: Health check port.
                health_check_host:
                  type: string
                  nullable: true
                  description: Health check host.
                health_check_method:
                  type: string
                  description: Health check method.
                health_check_return_code:
                  type: integer
                  description: Health check return code.
                health_check_scheme:
                  type: string
                  description: Health check scheme.
                health_check_response_text:
                  type: string
                  nullable: true
                  description: Health check response text.
                health_check_interval:
                  type: integer
                  description: Health check interval in seconds.
                health_check_timeout:
                  type: integer
                  description: Health check timeout in seconds.
                health_check_retries:
                  type: integer
                  description: Health check retries count.
                health_check_start_period:
                  type: integer
                  description: Health check start period in seconds.
                limits_memory:
                  type: string
                  description: Memory limit.
                limits_memory_swap:
                  type: string
                  description: Memory swap limit.
                limits_memory_swappiness:
                  type: integer
                  description: Memory swappiness.
                limits_memory_reservation:
                  type: string
                  description: Memory reservation.
                limits_cpus:
                  type: string
                  description: CPU limit.
                limits_cpuset:
                  type: string
                  nullable: true
                  description: CPU set.
                limits_cpu_shares:
                  type: integer
                  description: CPU shares.
                custom_labels:
                  type: string
                  description: Custom labels.
                custom_docker_run_options:
                  type: string
                  description: Custom docker run options.
                post_deployment_command:
                  type: string
                  description: Post deployment command.
                post_deployment_command_container:
                  type: string
                  description: Post deployment command container.
                pre_deployment_command:
                  type: string
                  description: Pre deployment command.
                pre_deployment_command_container:
                  type: string
                  description: Pre deployment command container.
                manual_webhook_secret_github:
                  type: string
                  description: Manual webhook secret for Github.
                manual_webhook_secret_gitlab:
                  type: string
                  description: Manual webhook secret for Gitlab.
                manual_webhook_secret_bitbucket:
                  type: string
                  description: Manual webhook secret for Bitbucket.
                manual_webhook_secret_gitea:
                  type: string
                  description: Manual webhook secret for Gitea.
                redirect:
                  type: string
                  nullable: true
                  description: How to set redirect with Traefik / Caddy. www<->non-www.
                  enum:
                  - www
                  - non-www
                  - both
                instant_deploy:
                  type: boolean
                  description: The flag to indicate if the application should be deployed instantly.
                is_force_https_enabled:
                  type: boolean
                  description: The flag to indicate if HTTPS is forced. Defaults to true.
                use_build_server:
                  type: boolean
                  nullable: true
                  description: Use build server.
                is_http_basic_auth_enabled:
                  type: boolean
                  description: HTTP Basic Authentication enabled.
                http_basic_auth_username:
                  type: string
                  nullable: true
                  description: Username for HTTP Basic Authentication
                http_basic_auth_password:
                  type: string
                  nullable: true
                  description: Password for HTTP Basic Authentication
                connect_to_docker_network:
                  type: boolean
                  description: The flag to connect the service to the predefined Docker network.
                force_domain_override:
                  type: boolean
                  description: Force domain usage even if conflicts are detected. Default is false.
                autogenerate_domain:
                  type: boolean
                  default: true
                  description: 'If true and domains is empty, auto-generate a domain using the server''s wildcard domain or sslip.io fallback. Default: true.'
                is_container_label_escape_enabled:
                  type: boolean
                  default: true
                  description: Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.
              type: object
      responses:
        '201':
          description: Application created successfully.
          content:
            application/json:
              schema:
                properties:
                  uuid:
                    type: string
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '409':
          description: Domain conflicts detected.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Domain conflicts detected. Use force_domain_override=true to proceed.
                  warning:
                    type: string
                    example: Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.
                  conflicts:
                    type: array
                    items:
                      properties:
                        domain:
                          type: string
                          example: example.com
                        resource_name:
                          type: string
                          example: My Application
                        resource_uuid:
                          type: string
                          nullable: true
                          example: abc123-def456
                        resource_type:
                          type: string
                          enum:
                          - application
                          - service
                          - instance
                          example: application
                        message:
                          type: string
                          example: Domain example.com is already in use by application 'My Application'
                      type: object
                type: object
      security:
      - bearerAuth: []
  /applications/{uuid}:
    get:
      tags:
      - Applications
      summary: Get
      description: Get application by UUID.
      operationId: get-application-by-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get application by UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Applications
      summary: Delete
      description: Delete application by UUID.
      operationId: delete-application-by-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      - name: delete_configurations
        in: query
        description: Delete configurations.
        required: false
        schema:
          type: boolean
          default: true
      - name: delete_volumes
        in: query
        description: Delete volumes.
        required: false
        schema:
          type: boolean
          default: true
      - name: docker_cleanup
        in: query
        description: Run docker cleanup.
        required: false
        schema:
          type: boolean
          default: true
      - name: delete_connected_networks
        in: query
        description: Delete connected networks.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Application deleted.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Application deleted.
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Applications
      summary: Update
      description: Update application by UUID.
      operationId: update-application-by-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      requestBody:
        description: Application updated.
        required: true
        content:
          application/json:
            schema:
              properties:
                project_uuid:
                  type: string
                  description: The project UUID.
                server_uuid:
                  type: string
                  description: The server UUID.
                environment_name:
                  type: string
                  description: The environment name.
                github_app_uuid:
                  type: string
                  description: The Github App UUID.
                git_repository:
                  type: string
                  description: The git repository URL.
                git_branch:
                  type: string
                  description: The git branch.
                ports_exposes:
                  type: string
                  description: The ports to expose.
                destination_uuid:
                  type: string
                  description: The destination UUID.
                build_pack:
                  type: string
                  enum:
                  - nixpacks
                  - railpack
                  - static
                  - dockerfile
                  - dockercompose
                  description: The build pack type.
                name:
                  type: string
                  description: The application name.
                description:
                  type: string
                  description: The application description.
                domains:
                  type: string
                  description: The application URLs in a comma-separated list.
                git_commit_sha:
                  type: string
                  description: The git commit SHA.
                docker_registry_image_name:
                  type: string
                  description: The docker registry image name.
                docker_registry_image_tag:
                  type: string
                  description: The docker registry image tag.
                is_static:
                  type: boolean
                  description: The flag to indicate if the application is static.
                is_spa:
                  type: boolean
                  description: The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true.
                is_auto_deploy_enabled:
                  type: boolean
                  description: The flag to indicate if auto-deploy is enabled on git push. Defaults to true.
                is_force_https_enabled:
                  type: boolean
                  description: The flag to indicate if HTTPS is forced. Defaults to true.
                install_command:
                  type: string
                  description: The install command.
                build_command:
                  type: string
                  description: The build command.
                start_command:
                  type: string
                  description: The start command.
                ports_mappings:
                  type: string
                  description: The ports mappings.
                base_directory:
                  type: string
                  description: The base directory for all commands.
                publish_directory:
                  type: string
                  description: The publish directory.
                health_check_enabled:
                  type: boolean
                  description: Health check enabled.
                health_check_path:
                  type: string
                  description: Health check path.
                health_check_port:
                  type: string
                  nullable: true
                  description: Health check port.
                health_check_host:
                  type: string
                  nullable: true
                  description: Health check host.
                health_check_method:
                  type: string
                  description: Health check method.
                health_check_return_code:
                  type: integer
                  description: Health check return code.
                health_check_scheme:
                  type: string
                  description: Health check scheme.
                health_check_response_text:
                  type: string
                  nullable: true
                  description: Health check response text.
                health_check_interval:
                  type: integer
                  description: Health check interval in seconds.
                health_check_timeout:
                  type: integer
                  description: Health check timeout in seconds.
                health_check_retries:
                  type: integer
                  description: Health check retries count.
                health_check_start_period:
                  type: integer
                  description: Health check start period in seconds.
                limits_memory:
                  type: string
                  description: Memory limit.
                limits_memory_swap:
                  type: string
                  description: Memory swap limit.
                limits_memory_swappiness:
                  type: integer
                  description: Memory swappiness.
                limits_memory_reservation:
                  type: string
                  description: Memory reservation.
                limits_cpus:
                  type: string
                  description: CPU limit.
                limits_cpuset:
                  type: string
                  nullable: true
                  description: CPU set.
                limits_cpu_shares:
                  type: integer
                  description: CPU shares.
                custom_labels:
                  type: string
                  description: Custom labels.
                custom_docker_run_options:
                  type: string
                  description: Custom docker run options.
                post_deployment_command:
                  type: string
                  description: Post deployment command.
                post_deployment_command_container:
                  type: string
                  description: Post deployment command container.
                pre_deployment_command:
                  type: string
                  description: Pre deployment command.
                pre_deployment_command_container:
                  type: string
                  description: Pre deployment command container.
                manual_webhook_secret_github:
                  type: string
                  description: Manual webhook secret for Github.
                manual_webhook_secret_gitlab:
                  type: string
                  description: Manual webhook secret for Gitlab.
                manual_webhook_secret_bitbucket:
                  type: string
                  description: Manual webhook secret for Bitbucket.
                manual_webhook_secret_gitea:
                  type: string
                  description: Manual webhook secret for Gitea.
                redirect:
                  type: string
                  nullable: true
                  description: How to set redirect with Traefik / Caddy. www<->non-www.
                  enum:
                  - www
                  - non-www
                  - both
                instant_deploy:
                  type: boolean
                  description: The flag to indicate if the application should be deployed instantly.
                dockerfile:
                  type: string
                  description: The Dockerfile content.
                dockerfile_location:
                  type: string
                  description: The Dockerfile location in the repository.
                docker_compose_location:
                  type: string
                  description: The Docker Compose location.
                docker_compose_custom_start_command:
                  type: string
                  description: The Docker Compose custom start command.
                docker_compose_custom_build_command:
                  type: string
                  description: The Docker Compose custom build command.
                docker_compose_domains:
                  type: array
                  description: Array of URLs to be applied to containers of a dockercompose application.
                  items:
                    properties:
                      name:
                        type: string
                        description: The service name as defined in docker-compose.
                      domain:
                        type: string
                        description: Comma-separated list of URLs (e.g. "https://app.coolify.io,https://app2.coolify.io")
                    type: object
                watch_paths:
                  type: string
                  description: The watch paths.
                use_build_server:
                  type: boolean
                  nullable: true
                  description: Use build server.
                connect_to_docker_network:
                  type: boolean
                  description: The flag to connect the service to the predefined Docker network.
                force_domain_override:
                  type: boolean
                  description: Force domain usage even if conflicts are detected. Default is false.
                is_container_label_escape_enabled:
                  type: boolean
                  default: true
                  description: Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.
                is_preserve_repository_enabled:
                  type: boolean
                  description: Preserve git repository during application update. If false, the existing repository will be removed and replaced with the new one. If true, the existing repository will be kept and the new one will be ignored. Default is false.
              type: object
      responses:
        '200':
          description: Application updated.
          content:
            application/json:
              schema:
                properties:
                  uuid:
                    type: string
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Domain conflicts detected.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Domain conflicts detected. Use force_domain_override=true to proceed.
                  warning:
                    type: string
                    example: Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.
                  conflicts:
                    type: array
                    items:
                      properties:
                        domain:
                          type: string
                          example: example.com
                        resource_name:
                          type: string
                          example: My Application
                        resource_uuid:
                          type: string
                          nullable: true
                          example: abc123-def456
                        resource_type:
                          type: string
                          enum:
                          - application
                          - service
                          - instance
                          example: application
                        message:
                          type: string
                          example: Domain example.com is already in use by application 'My Application'
                      type: object
                type: object
      security:
      - bearerAuth: []
  /applications/{uuid}/logs:
    get:
      tags:
      - Applications
      summary: Get application logs.
      description: Get application logs by UUID.
      operationId: get-application-logs-by-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      - name: lines
        in: query
        description: Number of lines to show from the end of the logs.
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: Get application logs by UUID.
          content:
            application/json:
              schema:
                properties:
                  logs:
                    type: string
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
  /applications/{uuid}/envs:
    get:
      tags:
      - Applications
      summary: List Envs
      description: List all envs by application UUID.
      operationId: list-envs-by-application-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: All environment variables by application UUID.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentVariable'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
    post:
      tags:
      - Applications
      summary: Create Env
      description: Create env by application UUID.
      operationId: create-env-by-application-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      requestBody:
        description: Env created.
        required: true
        content:
          application/json:
            schema:
              properties:
                key:
                  type: string
                  description: The key of the environment variable.
                value:
                  type: string
                  description: The value of the environment variable.
                is_preview:
                  type: boolean
                  description: The flag to indicate if the environment variable is used in preview deployments.
                is_literal:
                  type: boolean
                  description: The flag to indicate if the environment variable is a literal, nothing espaced.
                is_multiline:
                  type: boolean
                  description: The flag to indicate if the environment variable is multiline.
                is_shown_once:
                  type: boolean
                  description: The flag to indicate if the environment variable's value is shown on the UI.
              type: object
      responses:
        '201':
          description: Environment variable created.
          content:
            application/json:
              schema:
                properties:
                  uuid:
                    type: string
                    example: nc0k04gk8g0cgsk440g0koko
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Applications
      summary: Update Env
      description: Update env by application UUID.
      operationId: update-env-by-application-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      requestBody:
        description: Env updated.
        required: true
        content:
          application/json:
            schema:
              required:
              - key
              - value
              properties:
                key:
                  type: string
                  description: The key of the environment variable.
                value:
                  type: string
                  description: The value of the environment variable.
                is_preview:
                  type: boolean
                  description: The flag to indicate if the environment variable is used in preview deployments.
                is_literal:
                  type: boolean
                  description: The flag to indicate if the environment variable is a literal, nothing espaced.
                is_multiline:
                  type: boolean
                  description: The flag to indicate if the environment variable is multiline.
                is_shown_once:
                  type: boolean
                  description: The flag to indicate if the environment variable's value is shown on the UI.
              type: object
      responses:
        '201':
          description: Environment variable updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
  /applications/{uuid}/envs/bulk:
    patch:
      tags:
      - Applications
      summary: Update Envs (Bulk)
      description: Update multiple envs by application UUID.
      operationId: update-envs-by-application-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      requestBody:
        description: Bulk envs updated.
        required: true
        content:
          application/json:
            schema:
              required:
              - data
              properties:
                data:
                  type: array
                  items:
                    properties:
                      key:
                        type: string
                        description: The key of the environment variable.
                      value:
                        type: string
                        description: The value of the environment variable.
                      is_preview:
                        type: boolean
                        description: The flag to indicate if the environment variable is used in preview deployments.
                      is_literal:
                        type: boolean
                        description: The flag to indicate if the environment variable is a literal, nothing espaced.
                      is_multiline:
                        type: boolean
                        description: The flag to indicate if the environment variable is multiline.
                      is_shown_once:
                        type: boolean
                        description: The flag to indicate if the environment variable's value is shown on the UI.
                    type: object
              type: object
      responses:
        '201':
          description: Environment variables updated.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentVariable'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
  /applications/{uuid}/envs/{env_uuid}:
    delete:
      tags:
      - Applications
      summary: Delete Env
      description: Delete env by UUID.
      operationId: delete-env-by-application-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      - name: env_uuid
        in: path
        description: UUID of the environment variable.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Environment variable deleted.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Environment variable deleted.
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
  /applications/{uuid}/start:
    get:
      tags:
      - Applications
      summary: Start
      description: Start application. `Post` request is also accepted.
      operationId: start-application-by-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      - name: force
        in: query
        description: Force rebuild.
        schema:
          type: boolean
          default: false
      - name: instant_deploy
        in: query
        description: Instant deploy (skip queuing).
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Start application.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deployment request queued.
                    description: Message.
                  deployment_uuid:
                    type: string
                    example: doogksw
                    description: UUID of the deployment.
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
  /applications/{uuid}/stop:
    get:
      tags:
      - Applications
      summary: Stop
      description: Stop application. `Post` request is also accepted.
      operationId: stop-application-by-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      - name: docker_cleanup
        in: query
        description: Perform docker cleanup (prune networks, volumes, etc.).
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Stop application.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Application stopping request queued.
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
  /applications/{uuid}/restart:
    get:
      tags:
      - Applications
      summary: Restart
      description: Restart application. `Post` request is also accepted.
      operationId: restart-application-by-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Restart application.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Restart request queued.
                  deployment_uuid:
                    type: string
                    example: doogksw
                    description: UUID of the deployment.
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
  /applications/{uuid}/storages:
    get:
      tags:
      - Applications
      summary: List Storages
      description: List all persistent storages and file storages by application UUID.
      operationId: list-storages-by-application-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: All storages by application UUID.
          content:
            application/json:
              schema:
                properties:
                  persistent_storages:
                    type: array
                    items:
                      type: object
                  file_storages:
                    type: array
                    items:
                      type: object
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
      - bearerAuth: []
    post:
      tags:
      - Applications
      summary: Create Storage
      description: Create a persistent storage or file storage for an application.
      operationId: create-storage-by-application-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - type
              - mount_path
              properties:
                type:
                  type: string
                  enum:
                  - persistent
                  - file
                  description: The type of storage.
                name:
                  type: string
                  description: Volume name (persistent only, required for persistent).
                mount_path:
                  type: string
                  description: The container mount path.
                host_path:
                  type: string
                  nullable: true
                  description: The host path (persistent only, optional).
                content:
                  type: string
                  nullable: true
                  description: File content (file only, optional).
                is_directory:
                  type: boolean
                  description: Whether this is a directory mount (file only, default false).
                fs_path:
                  type: string
                  description: Host directory path (required when is_directory is true).
              type: object
              additionalProperties: false
      responses:
        '201':
          description: Storage created.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Applications
      summary: Update Storage
      description: Update a persistent storage or file storage by application UUID.
      operationId: update-storage-by-application-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      requestBody:
        description: Storage updated. For read-only storages (from docker-compose or services), only is_preview_suffix_enabled can be updated.
        required: true
        content:
          application/json:
            schema:
              required:
              - type
              properties:
                uuid:
                  type: string
                  description: The UUID of the storage (preferred).
                id:
                  type: integer
                  description: The ID of the storage (deprecated, use uuid instead).
                type:
                  type: string
                  enum:
                  - persistent
                  - file
                  description: 'The type of storage: persistent or file.'
                is_preview_suffix_enabled:
                  type: boolean
                  description: Whether to add -pr-N suffix for preview deployments.
                name:
                  type: string
                  description: The volume name (persistent only, not allowed for read-only storages).
                mount_path:
                  type: string
                  description: The container mount path (not allowed for read-only storages).
                host_path:
                  type: string
                  nullable: true
                  description: The host path (persistent only, not allowed for read-only storages).
                content:
                  type: string
                  nullable: true
                  description: The file content (file only, not allowed for read-only storages).
              type: object
              additionalProperties: false
      responses:
        '200':
          description: Storage updated.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
      - bearerAuth: []
  /applications/{uuid}/storages/{storage_uuid}:
    delete:
      tags:
      - Applications
      summary: Delete Storage
      description: Delete a persistent storage or file storage by application UUID.
      operationId: delete-storage-by-application-uuid
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      - name: storage_uuid
        in: path
        description: UUID of the storage.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Storage deleted.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
      - bearerAuth: []
  /applications/{uuid}/previews/{pull_request_id}:
    delete:
      tags:
      - Applications
      summary: Delete Preview Deployment
      description: Delete a preview deployment for a pull request. Cancels active deployments, stops containers, removes volumes/networks, and deletes the preview record.
      operationId: delete-preview-deployment-by-pull-request-id
      parameters:
      - name: uuid
        in: path
        description: UUID of the application.
        required: true
        schema:
          type: string
      - name: pull_request_id
        in: path
        description: Pull request ID of the preview to delete.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Preview deletion queued.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
      - bearerAuth: []
components:
  responses:
    '400':
      description: Invalid token.
      content:
        application/json:
          schema:
            properties:
              message:
                type: string
[...]
